In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

#Enable Google Maps
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Manokwari,-0.8667,134.0833,79.14,73,100,10.58,ID,2022-01-31 00:34:53
1,1,Sisimiut,66.9395,-53.6735,2.32,75,57,16.26,GL,2022-01-31 00:37:44
2,2,Vanavara,60.3400,102.2797,-16.65,100,100,2.06,RU,2022-01-31 00:37:45
3,3,Emerald,-23.5333,148.1667,86.14,54,40,9.22,AU,2022-01-31 00:37:45
4,4,San Lawrenz,36.0553,14.2040,55.85,79,24,3.00,MT,2022-01-31 00:37:46

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Manokwari,-0.8667,134.0833,79.14,73,100,10.58,ID,2022-01-31 00:34:53
3,3,Emerald,-23.5333,148.1667,86.14,54,40,9.22,AU,2022-01-31 00:37:45
7,7,Hobart,-42.8794,147.3294,81.01,57,20,1.01,AU,2022-01-31 00:37:47
9,9,Hilo,19.7297,-155.0900,80.33,60,40,8.05,US,2022-01-31 00:37:00
10,10,Kawalu,-7.3817,108.2082,77.65,84,100,0.27,ID,2022-01-31 00:37:49
15,15,Puerto Escondido,15.8500,-97.0667,77.20,81,0,4.34,MX,2022-01-31 00:37:51
17,17,Meulaboh,4.1363,96.1285,77.45,84,68,5.46,ID,2022-01-31 00:35:50
23,23,Georgetown,5.4112,100.3354,79.90,89,20,2.30,MY,2022-01-31 00:37:54
26,26,Atuona,-9.8000,-139.0333,78.06,78,29,16.60,PF,2022-01-31 00:37:55
27,27,Rikitea,-23.1203,-134.9692,77.27,65,100,4.88,PF,2022-01-31 00:37:56

In [22]:
preferred_cities_df.count()

City_ID       136
City          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
Country       136
Date          136
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0          Manokwari      ID     79.14  -0.8667  134.0833
3            Emerald      AU     86.14 -23.5333  148.1667
7             Hobart      AU     81.01 -42.8794  147.3294
9               Hilo      US     80.33  19.7297 -155.0900
10            Kawalu      ID     77.65  -7.3817  108.2082
15  Puerto Escondido      MX     77.20  15.8500  -97.0667
17          Meulaboh      ID     77.45   4.1363   96.1285
23        Georgetown      MY     79.90   5.4112  100.3354
26            Atuona      PF     78.06  -9.8000 -139.0333
27           Rikitea      PF     77.27 -23.1203 -134.9692

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Manokwari,ID,79.14,-0.8667,134.0833,Swiss Belhotel Manokwari
3,Emerald,AU,86.14,-23.5333,148.1667,The Irish Village
7,Hobart,AU,81.01,-42.8794,147.3294,Mantra on Collins Hobart
9,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Kawalu,ID,77.65,-7.3817,108.2082,KOSAN UNGU UNSIK
15,Puerto Escondido,MX,77.20,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
17,Meulaboh,ID,77.45,4.1363,96.1285,Kost Pria
23,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
26,Atuona,PF,78.06,-9.8000,-139.0333,Villa Enata
27,Rikitea,PF,77.27,-23.1203,-134.9692,People ThankYou

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))